<h1>戦術クイズ</h1>

<p><%= @question.content %></p>

<%= form_with url: answer_question_path(@question), method: :post do %>
  <ul>
    <% @question.choices.each do |choice| %>
      <li>
        <label>
          <%= radio_button_tag :choice_id, choice.id %>
          <%= choice.body %>
        </label>
      </li>
    <% end %>
  </ul>
  <%= submit_tag "回答する" %>
<% end %>

<% if defined?(@selected_choice) && @selected_choice.present? %>
  <hr>
  <p>あなたの回答：<%= @selected_choice.body %></p>
  <p><strong><%= @selected_choice.is_correct? ? "正解！" : "不正解…" %></strong></p>
  <p>解説：</p>
  <div><%= simple_format(@question.explanation) %></div>
<% end %>
