<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QBVL6HH619"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QBVL6HH619');
    </script>
    <title>Play insight</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link href="https://vjs.zencdn.net/8.23.4/video-js.css" rel="stylesheet" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <meta property="fb:app_id" content="838510992377154" />
    <meta property="og:site_name" content="<%= meta_site_name %>" />
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="<%= meta_type %>" />
    <meta property="og:url" content="<%= meta_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="<%= meta_image_alt %>" />
    <meta name="twitter:card" content="<%= meta_twitter_card %>" />
    <meta name="twitter:site" content="<%= meta_twitter_site %>" />
    <meta name="twitter:image" content="<%= meta_image %>" />
    <meta name="twitter:title" content="<%= meta_title %>" />
    <meta name="twitter:description" content="<%= meta_description %>" />
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
