<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QBVL6HH619"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QBVL6HH619');
    </script>
    <title>Play insight</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link href="https://vjs.zencdn.net/8.23.4/video-js.css" rel="stylesheet" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <meta property="og:site_name" content="Playinsight" />
    <meta property="og:title" content="試合分析をしてチームを強化しよう" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= image_url('Frame 6.png') %>" />
    <meta property="og:description" content="バスケの戦術を理解しよう" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Playinsight - バスケ戦術分析アプリ" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@papa55106109" />
    <meta name="twitter:image" content="<%= image_url('Frame 6.png') %>" />
    <meta name="twitter:title" content="試合分析をしてチームを強化しよう" />
    <meta name="twitter:description" content="バスケの戦術を理解しよう" />
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
